# Question 1

In [11]:
from collections import Counter

list_1 = [(1,2), (1,2), (3,4), ("hello")]

Output = Counter(list_1)

print(Output)

Counter({(1, 2): 2, (3, 4): 1, 'hello': 1})

# Question 2

In [64]:
import numpy as np
random_numbers = np.random.randint(1,100,10)
random_numbers.sort()
print(random_numbers)

[ 4 44 49 51 58 72 76 76 84 90]

In [65]:
#node class

class Node:
    def __init__(self, d):
        self.data = d
        self.left = None
        self.right = None

In [69]:
def sortedArrayToBST(arr):
     
    if not arr.any():
        return None

    mid = (len(arr)) // 2
    
    root = Node(arr[mid])
    root.left = sortedArrayToBST(arr[:mid])
    root.right = sortedArrayToBST(arr[mid+1:])
    return root

In [74]:
def preOrder(node):
    if not node:
        return
     
    print(node.data, end=" "),
    preOrder(node.left)
    preOrder(node.right)

In [75]:
root = sortedArrayToBST(random_numbers)
preOrder(root)

72 49 44 4 58 51 84 76 76 90

# Question 3

In [77]:
dict_1 = { 'black' :'r', 'hero' : 'e', 'go' : 'g', 'clue' : 'i', 'mean' : 'q', 'groan' : 'o', 'sin' : 'p', 'pint' : 'u',
          'tone' : 'n', 'graze' : 's', 'sea' : 't', 'plant' : 'a' }

In [82]:
list_1 = list(dict_1.values())
print(list_1)

['r', 'e', 'g', 'i', 'q', 'o', 'p', 'u', 'n', 's', 't', 'a']

In [84]:
length = len(list_1)
output = []

for i in dict_1:
    count = 0
    for j in range(0,length):
        if list_1[j] in i:
            count += 1
    
    if (count == len(i)):
        output.append(i)
        
print(output)

['go', 'groan', 'sin', 'pint', 'tone', 'sea']

# Question 4

In [94]:
list_1 = [(1,2), (4,3), (2,10), (12, 5), (6, 7), (9,11), (15, 4)]

def Sort_Tuple(list_1,element,order):
    if element == 0:         
        if order == 'asc':
            list_1.sort(key = lambda x: x[0])
            return list_1
        else:
            list_1.sort(reverse = True, key = lambda x: x[0])
            return list_1
        
    if element == 1: 
        if order == 'dsc':
            list_1.sort(reverse = True, key = lambda x: x[1])
            return list_1
        else:
            list_1.sort(key = lambda x: x[1])
            return list_1


print('Ascending first element')
print(Sort_Tuple(list_1,0,'asc')) 
print('Descending first element')
print(Sort_Tuple(list_1,0,'dsc'))
print('Ascending second element')
print(Sort_Tuple(list_1,1,'asc')) 
print('Descending second element')
print(Sort_Tuple(list_1,1,'dsc'))

Ascending first element
[(1, 2), (2, 10), (4, 3), (6, 7), (9, 11), (12, 5), (15, 4)]
Descending first element
[(15, 4), (12, 5), (9, 11), (6, 7), (4, 3), (2, 10), (1, 2)]
Ascending second element
[(1, 2), (4, 3), (15, 4), (12, 5), (6, 7), (2, 10), (9, 11)]
Descending second element
[(9, 11), (2, 10), (6, 7), (12, 5), (15, 4), (4, 3), (1, 2)]

# Question 5

Mutable objects' data can be changed after the assignment, but immutable objects' data cannot be manipulated. It can only be entirely deleted.
String and tuple are immutable
List and dictionaries are mutable

# Question 6

In [110]:
#quetion 1
import pandas as pd
df = pd.read_csv('banking.csv')

print(df['education'].unique())

['basic.4y' 'unknown' 'university.degree' 'high.school' 'basic.9y'
 'professional.course' 'basic.6y' 'illiterate']

In [111]:
#question 2

print(df['y'][df['y'] == 1].count())

4640

In [128]:
#question 3
df.groupby('y').mean()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
y,,,,,,,,,,
0,39.911185,220.844807,2.633085,984.113878,0.132374,0.248875,93.603757,-40.593097,3.811491,5176.166600
1,40.913147,553.191164,2.051724,792.035560,0.492672,-1.233448,93.354386,-39.789784,2.123135,5095.115991

In [127]:
#question 4

df.groupby('marital')['age'].mean()

marital
divorced    44.899393
married     42.307165
single      33.158714
unknown     40.275000
Name: age, dtype: float64

In [123]:
#question 5

df.isnull().values.all()

False

In [126]:
#question 6
df.describe()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911,0.112654
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528,0.316173
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,0.000000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,0.000000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,0.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,0.000000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,1.000000

In [189]:
#question 7

#insight 1 
print('1)percentage of old age subscribers : ')
print((df.query('age>50' and 'y == 1')['age'].count()/df['age'].count())*100, end= "\n\n")

#insight 2
print('2)old but single:')
print(df.query('age>50' and 'marital == "single"')['age'].count(), end= "\n\n")

#insight 3
print('3) 3 most common jobs:')
print(df['job'].value_counts()[0:3], end="\n\n")

#insight 4
print('4) max pdays percentage:')
max_pdays = df['pdays'].max()
print(df['age'][df['pdays'] == max_pdays].count()/df['age'].count()*100, end='\n\n')

#insight 5
print('5) max campaigns')
print(df['campaign'].max())

1)percentage of old age subscribers :
11.265417111780131

2)old but single:
11568

3) 3 most common jobs:
admin.         10422
blue-collar     9254
technician      6743
Name: job, dtype: int64

4) max pdays percentage:
96.32174419733903

5) max campaigns
56